<section>
  <h2>Saanjh Matrimony</h2>
  <h3>User Profile ID: <%= profile.uuid %></h3>
  <h5>Name : <%= profile.fullname %></h5>
  <h5>Mother's Name : <%= profile.mothername %></h5>
  <h5>Father's Name : <%= profile.fathername %></h5>
  <h5>Age : <%= profile.age %></h5>
  <h5>Phone Number : <%= profile.phoneNumber %></h5>
  <a href="/admin">Back</a>
</section>
